<md-toolbar color="primary">

  <button md-icon-button [routerLink]="['/about']">
    <md-icon>dashboard</md-icon>
  </button>
  <span class="display-name">
      dodz.com.br
  </span>

  <div class="fill"></div>

  <button md-icon-button [md-menu-trigger-for]="menu">
    <md-icon>view_list</md-icon>
  </button>

  <span class="display-name">
      {{displayName}}
    </span>
  <span *ngIf="(af.auth | async)?.uid">
      <img class="photoProfile" src="{{photoURL}}">  
  </span>

  <md-menu x-position="before" #menu="mdMenu">
    <div *ngIf="(af.auth | async)?.uid">
      <button md-menu-item [routerLink]="['/blog']">Blog</button>
      <button md-menu-item [routerLink]="['/todos']">Todos</button>
      <button md-menu-item [routerLink]="['/chat']">Chat</button>
      <button md-menu-item (click)="logout()">Logout</button>
    </div>
    <div *ngIf="!(af.auth | async)?.uid">
      <button md-menu-item (click)="login('Google')">Login</button>
    </div>
  </md-menu>

</md-toolbar>