<p>
  blog-post-component works!
</p>

<!--
    <md-toolbar>{{item.title}}</md-toolbar>
    <md-card>
      <md-card-header>
        <img md-card-avatar src="http://lorempixel.com/40/40/people/9">
        <md-card-subtitle>{{item.subtitle}}</md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <div class="post-img" *ngIf="item.imageCoverURL">
          <img [src]="item.imageCoverURL" height="200">
        </div>
        <div [innerHTML]="item.content.substring(0, 3000)"></div>
      </md-card-content>
      <md-card-actions>
        <button md-button>READ MORE</button>
      </md-card-actions>
    </md-card>
  </div>
-->