<div class="content">
  <h2>My Blog</h2>

  <p>
    <span *ngIf="!showBlogPostForm && (af.auth | async)?.uid">
      Write a post! 
      <button md-mini-fab (click)="showNewPostForm()">
        <md-icon>add</md-icon>
      </button>
    </span>
  </p>

  <div *ngIf="showBlogPostForm && (af.auth | async)?.uid">
    <md-toolbar color="primary">New Post</md-toolbar>
    <md-card>
      <md-card-content>
        <form #blogPostForm="ngForm" (submit)="addNewPost()">
          <md-input class="full-width" name="title" placeholder="Post title" required [(ngModel)]="title"></md-input>
          <md-input class="full-width" name="subtitle" placeholder="Post subtitle" required [(ngModel)]="subtitle"></md-input>
          <md-input class="full-width" name="imageCoverURL" placeholder="Image cover URL" required [(ngModel)]="imageCoverURL"></md-input>
          <div style="margin-bottom:15px; margin-top:15px;">
            <app-tiny [elementId]="'my-editor-id'" (onEditorKeyup)="keyupHandlerFunction($event)"></app-tiny>
          </div>
          <div class="preview" *ngIf="showBlogPostForm && (af.auth | async)?.uid && content">
            <md-toolbar color="accent">Preview</md-toolbar>
            <md-card>
              <md-card-content class="preview-content">
                <div class="post-img" *ngIf="imageCoverURL">
                  <img [src]="imageCoverURL" height="200">
                </div>
                <div [innerHTML]="content">
                </div>
              </md-card-content>
            </md-card>
          </div>
          <button md-raised-button (click)="hideNewPostForm()">
            Cancel
          </button>
          <button type="submit" md-raised-button color="accent" [disabled]="blogPostForm.invalid">
          Send
        </button>
        </form>
      </md-card-content>
    </md-card>
  </div>


  <div class="post" *ngFor="let item of posts | async">
    <div appLayout="row" style="height:200px;">
      <div class="post-img" *ngIf="item.imageCoverURL">
        <img [src]="item.imageCoverURL" width="300" height="200">
      </div>
      <div style="height:100%; width: 100%;">
        <md-card style="height: 152px;">
          <md-card-header>
            <img md-card-avatar src="http://lorempixel.com/40/40/people/9">
            <md-card-title>{{item.title}}</md-card-title>
            <md-card-subtitle>{{item.subtitle}}</md-card-subtitle>
          </md-card-header>
          <md-card-content>
            <div class="text" [innerHTML]="item.content"></div>
          </md-card-content>
          <md-card-actions>
            <button md-button color="primary">READ MORE</button>
          </md-card-actions>
        </md-card>
      </div>
    </div>
<!--
    <md-toolbar>{{item.title}}</md-toolbar>
    <md-card>
      <md-card-header>
        <img md-card-avatar src="http://lorempixel.com/40/40/people/9">
        <md-card-subtitle>{{item.subtitle}}</md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <div class="post-img" *ngIf="item.imageCoverURL">
          <img [src]="item.imageCoverURL" height="200">
        </div>
        <div [innerHTML]="item.content.substring(0, 3000)"></div>
      </md-card-content>
      <md-card-actions>
        <button md-button>READ MORE</button>
      </md-card-actions>
    </md-card>
  </div>
-->
</div>